<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <a id='home-nav-link' href="/aws-services/index.html">Pivotal Cloud Foundry Service Broker for AWS</a>
        <ul>
          <li>
            <a href="/aws-services/index.html#overview">Overview</a>
          </li>
          <li>
            <a href="/aws-services/index.html#snapshot">Product Snapshot</a>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/aws-services/installation.html">Installing the Service Broker</a>
        <ul>
          <li>
            <a href="/aws-services/installation.html#prerequisites">Installation Prerequisites</a>
          </li>
          <li>
            <a href="/aws-services/installation.html#setup">Step 1: Set Up AWS</a>
          </li>
          <li>
            <a href="/aws-services/installation.html#create_database">Step 2: Create Service Broker Database</a>
          </li>
          <li>
            <a href="/aws-services/installation.html#ASGs">Step 3: Application Security Groups</a>
          </li>
          <li>
            <a href="/aws-services/installation.html#install">Step 4: Install in Ops Manager</a>
          </li>
          <li>
            <a href="/aws-services/installation.html#confirm">Step 5: Confirm Installation</a>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/aws-services/creating.html">Creating and Managing Service Instances</a>
        <ul>
          <li>
            <a href="/aws-services/creating.html#overview">Overview</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#view">View Services</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#create">Create Service Instances</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#bind">Bind or Unbind a Service Instance</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#delete">Delete a Service Instance</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#service-keys">Using Service Keys for Other Commands</a>
          </li>
          <li>
            <a href="/aws-services/creating.html#troubleshooting">Troubleshooting</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/aws-services/pivotal-mysql-migration.html">Migrating to Pivotal MySQL v2</a>
      </li>
      <li>
        <a href="/aws-services/postgres.html">PostgreSQL Caveats</a>
      </li>
      <li>
        <a href="/aws-services/release-notes.html">Release Notes</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
