<p class="note"><em><strong>Note:</strong> VMware Tanzu Service Broker for AWS v1.4 is approaching
End of General Support (EOGS) phase.
Before December 31, 2021, migrate to <a href="https://network.pivotal.io/products/cloud-service-broker-aws/">Tanzu Cloud Service Broker for AWS</a>.</em>
</p>
