<p class="note warning"><strong>Warning:</strong> VMware Tanzu Service Broker for AWS v1.4 is no longer supported
because it has reached the End of General Support (EOGS) phase.
To stay up to date with the latest software and security updates, contact your account team for next steps.
</p>
